.title {
    color: #23D9B7;
    font-size: 40px;
    font-family: inherit;
    text-shadow: 4px 4px 0px #000000;
}

.title.-second {
    color: #FFFFFF;
    text-shadow: none;
    text-align: center;
}